<%- include('../partials/header') %>
<section class="error-page section">
  <div class="container error-page__inner">
    <div class="error-page__code">404</div>
    <h1>Page Not <em>Found</em></h1>
    <p>The page you are looking for doesn't exist or has been moved.</p>
    <a href="/" class="btn btn--primary btn--lg">Back to Home</a>
  </div>
</section>
<%- include('../partials/footer') %>
